@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

* {
    padding:0;
    margin:0;
}

body{
    background-color: #222;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
nav ul li {
float: left;
}

nav ul li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 25px;
font-family: 'Roboto Mono', monospace;
margin-top: 8px;
margin-bottom: 8px;
margin-left: 20px;
}


nav ul li a:hover {
background-color: #111;
}

nav ul img{
    width: 60px;
    height: 60px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 930px;
}


.home h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 95px;
    font-weight: bold;
    margin-left: 18%;
    margin-top: 15%;
}

.home h2{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 43%;
    margin-top: 1%;
}


.about h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 95px;
    font-weight: bold;
    margin-left: 35%;
    margin-top: 15%;
}

.about h2{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1%;
}

.about p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5%;
    margin-right: 50px;
    margin-top: 1%; 
}


.projects h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 95px;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 15%;
}

.projects h2{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1%;
}

.projects a{
    color: white;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid white;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 708px;
    margin-right: 707px;
    margin-top: 5%;
    text-decoration: none;
}

.contact h1{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 95px;
    font-weight: bold;
    margin-left: 32%;
    margin-top: 15%;
}

.contact h2{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 1%;
}

.contact a{
    color: white;
    font-family: 'Roboto Mono', monospace;
    border: 3px solid white;
    padding: 8px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 730px;
    margin-right: 707px;
    margin-top: 5%;
    text-decoration: none;
}