body {
    background-image: url("assets/Background.jpg");
  }

h1 {
  color: white;
  font-family: Helvetica;
}

u {
  color: white;
  font-family: Helvetica;
}

strong {
  color: white;
  font-family: Helvetica;
}

p {
  color: white;
  font-size: medium;
  font-family: Helvetica;
}

img {
  padding: 40px;
  width: 400px;
  cursor: pointer;
}

h2 {
  color: white;
  font-family: Helvetica;
  font-size: medium;
  margin:10px; 
}

.home p{
  border:5px solid white;
  width: 22cm;
  cursor: pointer;
  color: white;
  padding: 2%;
  font-weight: bold;
  font-size: 18px;
}


.home a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.home h1 {
  font-weight: bold;
  font-size: 32px;
}

.aboutme {
  padding: 10%;
}

.aboutme h1 {
  font-weight: bold;
}

.aboutme p {
  font-family: Helvetica;
}

.aboutme pre {
  font-family: Helvetica;
  color: white;
}

.aboutme a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
}


.myservices {
  padding: 10%;
}

.myservices h1 {
  font-weight: bold;
}

.myservices p {
  font-family: Helvetica;

}

.myservices a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
}


.posts {
  padding: 10%;
}

.posts h1 {
  font-weight: bold;
}

.posts p{
  font-family: Helvetica;
}

.posts a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
}

.posts p{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}


.myblog {
  padding: 10%;
}

.myblog h1 {
  font-weight: bold;
}

.myblog p{
  font-family: Helvetica;
}

.myblog a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
}

.supportme {
  padding: 10%;
}

.supportme h1 {
  font-weight: bold;
}

.supportme p{
  font-family: Helvetica;
}

.supportme a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}



.mycv {
  padding: 10%;
}

.mycv h1 {
  font-weight: bold;
}

.mycv p{
  font-family: Helvetica;
}

.mycv a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}

.mycontact {
  padding: 10%;
}

.mycontact h1 {
  font-weight: bold;
}

.mycontact p {
  font-family: Helvetica;
}

.mycontact a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}


.projects {
  padding: 10%;
}

.projects h1 {
  font-weight: bold;
}

.projects p {
  font-family: Helvetica;
}

.projects a{
  text-decoration: none;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;
  border:2px solid white;
  color: white;
  font-size: 15px;
  margin-right: 10px;
}